<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<h1>HORISCOPE</h1>
		<h2>What is your sighn?</h2>

		<h2 id="result" ></h2>

		<form class="but" action="index.html" method="post">
			<input id="aries" type="button" name="" value="ARIES">
			<input id="taurus" type="button" name="" value="TAURUS">
			<input id="geminai" type="button" name="" value="GEMINAI">
			<input id="cancer" type="button" name="" value="CANCER">
			<input id="leo" type="button" name="" value="LEO">
			<input id="virgo" type="button" name="" value="VIRGO">
			<input id="libra" type="button" name="" value="LIBRA">
			<input id="scorpio" type="button" name="" value="SCORPIO">
			<input id="sag" type="button" name="" value="SAGITTARIOUS">
			<input id="cap" type="button" name="" value="CAPRICORN">
			<input id="aqua" type="button" name="" value="AQUARIOUS">
			<input id="pisces" type="button" name="" value="PISCES">
		</form>

		<p id="dis"></p>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
